.form-group(class="#{_prefix}-form-group error-#{name} #{cls} clearfix")
    if showLabel
        label.container-label.control-label(
            class=(labelWidth && "col-sm-#{labelWidth}")
            for=id
        )= label
    div(class=[
        labelWidth && "col-sm-#{12 - labelWidth}",
        labelWidth && !showLabel && "col-sm-offset-#{labelWidth}"
    ])
        block container
