extends ../base/base.jade

block inner
    .input-group.date(
        data-provide="datepicker"
        data-date-format=(dateFormat || "dd/mm/yyyy")
        data-date-language=(language || "ru")
        data-date-autoclose="true"
        style=(inputWidth ? "width:#{inputWidth}" : undefined)
    )
        input.form-control(
            type="text"
            id=id
            placeholder=placeholder
            disabled=disabled ? 'disabled' : false
        )
        .input-group-addon
            span.glyphicon.glyphicon-calendar
